.form{
    width: 90%;
}
.form__input{
    height: auto;
    border: none;
    padding: 1em 1.5em;
    float: left;
    font-size: 1.7rem;
    background-color: transparent;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    color: white;
}
.form__input:focus{
    outline: none;
    border-bottom: 2px solid #bbb;
}
.form__button {
    cursor: pointer;
    float: right;
    margin-right: 0;
}
.form__input__wrapper {
    max-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}