.form{
    width: 100%;
    margin-top: 2rem;
}
.form__input,
.form__input--editing{
    width: 100%;
    height: 3rem;
    border: none;
    padding-left: 2rem;
    float: left;
    font-size: 1.7rem;
    background-color: transparent;
    overflow: hidden;
    border-bottom: 2px solid black;
    color: white;
}
.form__input--editing{
    color: white;
    border: none;
    padding-left: 0;
    margin-bottom: 1rem;
}
.form__input--editing:focus{
    outline: 1px solid white;
}
.form__input:focus{
    outline: none;
    
}
.form__button {
    cursor: pointer;
    float: right;
    margin-right: 0;
}
.form__input::placeholder {
    color: white;
    font-size: 1.4rem;
}
.form__input--editing::placeholder {
    color: yellow;
    font-size: 1.4rem;
}