:root{
    --main-bg-color: #18191a;
}

.header{
    height: 10rem;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    color: white;
}

.header__textbox{
    border-bottom: 0.4rem solid rgba(255, 255, 255, 0.2);
}

.heading__primary{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-size: 2.2em;
}
